.row{
    color: white;
    margin-left: 20px;
}

.row__title{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding:20px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    width: 100%;
    object-fit: contain;   
    max-height: 250px;
    transition: transform 300ms;
    margin-right:10px;
}

.row__poster:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.row__youtube{
    display: flex;
    justify-content: space-evenly;
}